          env:
            - name: FLASK_ENV
              value: "production"
            - name: DB_HOST
              value: "postgres"   
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: ticker-db-credentials
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ticker-db-credentials
                  key: DB_PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: ticker-db-credentials
                  key: DB_NAME
