name: Linting

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read

jobs:
  type-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: '.python-version'
          check-latest: true

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run linter (ruff)
        run: |
          ruff check src --exclude src/tests
        